.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1184px;
}

.main{
    background: #f8f8f8;
    min-height: 100vh;
}
.loadMoreBtn{
    border-radius: 12px;
width: 183px;
height: 60px;
background: #f4c550;
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 156%;
color: #121417;
margin: 0 auto;
margin-top: 64px;
margin-bottom: 96px;
cursor: pointer;
transition: background-color 0.3s ease;
}
.loadMoreBtn:hover{
    background-color: #ffdc86;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.item {
  opacity: 0; 
  animation: fadeInUp 0.5s ease forwards; 
  background: #fff;
    border-radius: 24px;
    padding: 24px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}