.container {
    width: 438px;
    display: flex;
    flex-direction: column;
    gap:40px;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.avatar{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.teacherInfo{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.subtitle{
font-weight: 500;
font-size: 12px;
line-height: 133%;
color: #8a8a89;
}
.teacherName{
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #121417;
}

.teacherDetails{
    display: flex;
    flex-direction: column;
    gap:4px;
}
.description{
font-weight: 400;
font-size: 16px;
line-height: 138%;
color: rgba(18, 20, 23, 0.8);
}
.title{
font-weight: 500;
font-size: 40px;
line-height: 120%;
letter-spacing: -0.02em;
color: #121417;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.field{
    border: 1px solid rgba(18, 20, 23, 0.1);
border-radius: 12px;

background-color: transparent;
font-weight: 400;
font-size: 16px;
line-height: 138%;
color: #121417;
padding: 16px 18px;
}
.submitBtn{
    margin-top: 22px;
    border-radius: 12px;
width: 438px;
height: 60px;
background: #f4c550;
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 156%;
color: #121417;
}
.submitBtn:hover{
    background: #ffdc86;
}
.fieldWrapper {
  position: relative;
}
.radioWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
font-weight: 400;
font-size: 16px;
line-height: 138%;
text-align: center;
color: #121417;
}
.fieldWrapper input {
  width: 100%;
}
.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.radioTitle{
font-weight: 500;
font-size: 24px;
line-height: 133%;
color: #121417;
}
.fieldWrapper button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.eyeIcon {
  font-size: 20px;
  color: #121417;
}
.error{
    color: red;
    padding-left: 8px;
}



.radioWrapper {
  display: flex;
  align-items: center;
}


.radio {
  display: none;
}

.radio {
  display: none;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 16px;
  color: #1a1a1a;
  padding: 4px 0;
  user-select: none;
}


.radioLabel::before {
  content: '';
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #d0d0d0;
  background: #fff;
  flex-shrink: 0;
  transition: border-color 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
}


.radioLabel::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #F5A623;
  position: absolute;
  opacity: 0;
  margin-left:7.5px;
  transition: opacity 0.15s;
}

.radio:checked + .radioLabel::before {
  border-color: #F5A623;
  border-width: 1.5px;
}

.radio:checked + .radioLabel::after {
  opacity: 1;
}